<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>IG</title>
  </head>
  <body>
    <h1>Instagram</h1>
    <!-- <h3>This page belongs to</h3> -->
    <h3><%= "This Page belongs to - " + "@" + data.name%></h3>
    <h4>List of Followers</h4>
    <p>Followers : <%=data.followers%></p>
    <p>Following : <%=data.following%></p>
    <hr />
    <%for(post of data.posts) {%>
    <img src="<%= post.image%>" alt="some image" />
    <p>Likes : <%=post.likes%></p>
    <p>Comments : <%=post.comments%></p>
    <% }%>
    <div>
      <button>Follow</button>
      <button>Message</button>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
